html {
  background-color: grey;
  color: white;
}
#root,
#root > div {
  background-color: grey;
  color: white;
}

.navlink {
  color: white;
}
.carrusel {
  color: black;
  display: block;
  margin-top: auto;
  background-color: grey;
}
.d-block {
  display: block;
  margin-top: 30%;
  background-color: grey;
  color: white;
}
